/* styles.css */

@font-face {
    font-family: "Roboto";
    src: url("https://fonts.googleapis.com/css?family=Roboto");
  }

* {
  font-family: "Roboto", sans-serif;
  /* border: solid black 1px; */
}

a {
    text-decoration: none;
}

button {
    border-style: none;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    min-height: 100vh;
    flex: 1;
    color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    font-weight: 700;
    color: white;
    padding: 20px;
    max-height: 80px;
}

.logo {
    max-height: 50px;
    margin-left: 24px;
}

.pizza-pic {
    max-width: 100%;
    max-height: 290px;
    min-height: 100px;
    margin-left: 50px;
}

.right-container {
    display: flex;
    margin-right: 100px;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    
}

.right-container a {
    color: #E5E7EB;
    font-weight: 100;
}

.leftbannerbox {
    display: flex;
    flex-direction: column;
}

.hero-text {
    font-weight: 800;
    font-size: 48px;
    margin-bottom: 10px;
}

#sub-text {
    color: #E5E7EB;
    font-weight: 100;
    font-size: 18px;
}

button.sign-up {
    background-color: #3882F6;
    min-height: 40px;
    font-size: 18px;
    color: white;
    width: 140px;
    margin-top: 18px;
    border-radius: 8px;
}

.top-banner {
    display: flex;
    flex-direction: row;
    padding: 0px 120px;
    justify-content: center;
    align-items: center;
    flex:1;
    background-color: #1f2937;
    color:white;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px;
}

.second-banner {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px; 
    margin-bottom: 100px;  
}

.second-banner img {
    max-width: 160px;
    border: solid #3882F6 4px;
    border-radius: 18px;
    margin-bottom: 8px;
}

.second-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    padding-bottom: 48px;
}

.carousel-container {
    display: flex;
    gap:36px;
}

.img-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 160px;
    text-align: center;
    padding: 6px;
    color:#707377;
    font-size: 17px;
}

.third-banner {
    background-color: #E5E7EB;
    padding: 32px;
    font-weight: bold;
    font-size: 24px;
    text-align: right;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 96px;
}

#ital-quote {
    font-style: italic;
    text-align: left;
    font-weight: 100;
    font-size: 36px;
    color: #1F2937;
    margin-bottom: 24px;
}

.fourth-banner {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cta-container {
    display: flex;
    background-color: #3882F6;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    margin-bottom: 48px;
}

.cta-title {
    font-size: 36px;
    color:#E5E7EB;
}
footer {
    flex:1;
}