/* styles.css */

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Regular.ttf");
  }

html {
  font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

button {
    font-family: "Roboto", serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    min-height: 100vh;
    flex-grow: 1;
    color: black;
    /* border: solid black 2px; */
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    /* border: solid black 2px; */
    font-weight: 700;
    color: white;
    padding: 20px;
    max-height: 80px;
}

.logo {
    /* flex: 0 0 0%; */
    max-height: 50px;
    margin-left: 50px;
    flex: 0 1 0%;
}

.pizza-pic {
    /* max-width: 50%; */
    max-height: 290px;
    margin: 0px 50px 50px 50px;
}

.right-container {
    display: flex;
    margin-right: 100px;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}

.right-container a {
    color: #E5E7EB;
}

.leftbannerbox {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.hero-text {
    font-weight: 800;
    font-size: 48px;
    margin-bottom: 10px;
}

#sub-text {
    color: #E5E7EB;
    font-weight: lighter;
    font-size: 18px;
}

button.sign-up {
    background-color: #3882F6;
    min-height: 48px;
    font-size: 18px;
    color: white;
    width: 120px;
    margin-top: 18px;
}

.top-banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color:white;
    padding:50px;
}

.main-body {
    height: 100px;
    flex:1;
}